<h2>Create Listings </h2>

<%= form_for @listing , url:client_enquiry_listings_path do |f| %>

	<p>
		<%=f.label "workshop name" %><br>
		<%=f.text_field :name %>		
	</p>

	<p>
		<%=f.label "short desc" %><br>
		<%=f.text_field :short_desc %>		
	</p>

	<p>
		<%=f.label "long desc" %><br>
		<%=f.text_field :long_desc %>		
	</p>

	<p>
		<%=f.label "start date" %><br>
		<%=f.date_field :start_date %>		
	</p>

	<p>
		<%=f.label "end date" %><br>
		<%=f.date_field :end_date %>		
	</p>

	<p>
		<%=f.label "venue" %><br>
		<%=f.text_field :venue %>		
	</p>

	<p>
		<%=f.label "trainer" %><br>
		<%=f.text_field :trainer_id %>
	</p>
	
	<%= f.submit %>

<% end %>