<h1>This is the index page for clients </h1>

<% if current_client %>
    <%= button_to "Sign Out", sign_out_path, method: :delete, data: {confirm: "Are you sure?"} %>
    <%= link_to "Profile", client_path(@client) %>
    <%= link_to "Enquiry", client_enquiries_path(@client) %>
    <%= link_to "Create Enquiry", new_client_enquiry_path(@client) %>
    <%= link_to "Listing", listings_path %>
<% end %> 

