<h3>My Profile Page</h3>

<h4>First Name: <%=@client.first_name%><br></h1>
<h4>Last Name: <%=@client.last_name%><br>
<h4>Email: <%=@client.email%><br>
<h4>Phone Number: <%=@client.phone_number%><br>
<h4>Company Name: <%=@client.name_of_company%><br>
<h4>Designation: <%=@client.designation%><br>	