<style> 

body {font-family: Karla, sans-serif;}

input[type=date], input[type=number] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 15px;
}

form input[type='text']{
	width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;  
    background-color:white;
    font-size: 15px;  
}

textarea {
	width: 100%;
	height: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;  
    background-color:white;  
    font-size: 15px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.enquiry-container {
    border-radius: 20px;
    background-color: #B0E0E6;
    padding: 20px;
    display:flex;
	flex-direction: column;
	height:80%;
	width:60%;
	margin:40px auto 40px;
}

.enquiry-container h1 {
	text-align:center;
	margin:auto
	font-size: 15px;
}

.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

</style>

<div class="enquiry-container">

<h1> Enquiry Form </h1> <b> 


<%= form_for @enquiry , url: client_enquiries_path do |f| %>


		<div class ="enquiries">
			<%=f.label "subject 1" %><br>
			<%=f.text_field :subject_one %>		
		</div>

		<div class ="enquiries">
			<%=f.label "subject 2" %><br>
			<%=f.text_field :subject_two %>		
		</div>

		<div class ="enquiries">
			<%=f.label "venue" %><br>
			<%=f.text_field :venue %>		
		</div>

		<div class ="enquiries">
			<%=f.label "other remarks" %><br>
			<%=f.text_area :remarks %>		
		</div>


		<div class ="enquiries">
			<%=f.label "budget " %> (RM) <br>
			<%=f.number_field :budget %>		
		</div>

		<div class ="enquiries">
			<%=f.label "start date" %><br>
			<%=f.date_field :start_date %>		
		</div>

		<div class ="enquiries">
			<%=f.label "end date" %><br>
			<%=f.date_field :end_date %>		
		</div>

	   	<%= f.submit:"Submit", class: "btn-submit" %>

<% end %> 

</div>








