<h3>This is an eqnuiry made by <%=@enquiry.client.first_name%></h3>

<%=@enquiry.subject_one%>
<%=@enquiry.client.email%><br>
<%=@enquiry.client.name_of_company%><br>
<%=@enquiry.subject_one%><br>
<%=@enquiry.subject_two%><br>
<%=@enquiry.budget%><br>
<%=@enquiry.start_date%><br>
<%=@enquiry.end_date%><br>
<%=@enquiry.venue%><br>




