<style>


.enquiries-show-container {
  padding: 20px;
  margin:auto;
}

body {
	font-family: Karla, sans-serif;
	font-size: 15px;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 15px;
}

th, td {
    text-align: left;
    padding: 16px;
    overflow: hidden;
}

th {
	 background-color: #B0E0E6
}

tr:nth-child(even) {
   background-color: #f2f2f2
}

.subject {
    background-color: #6A5ACD;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    max-width: 50%;
    font-size: 16px;
    text-align: center;
    margin: 10px 0 10px 0;
    display: inline-block;
}

.create-listing {
    background-color: #1E90FF;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    max-width: 50%;
    font-size: 16px;
    text-align: center;
    margin: auto;
    display: inline-block;
    text-decoration: none;
}

.create-listing a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

</style>

</head>
<body> 
<div class="enquiries-show-container">  
  <h4> Details of enquiry made by <%=@enquiry.client.name_of_company%> </h4>	
  <h4> Interested in these programs: </h4>
  <div class="subject"><%=@enquiry.subject_one%> </div> <div class="subject"><%=@enquiry.subject_two%> </div>
  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name of Company</th>
      <th>Contact Person</th>
      <th>Contact Email</th>
      <th>Budget (RM)</th>
      <th>Venue</th>
      <th>Start Date </th>
      <th>End Date </th>
      <th>Remarks</th>
    </tr>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%=@enquiry.client.name_of_company%></td>
        <td><%=@enquiry.client.first_name%> <%=@enquiry.client.last_name%></td>
        <td><%=@enquiry.client.email%></td>
        <td><%=@enquiry.budget%></td>
        <td><%=@enquiry.venue%></td>
        <td><%=@enquiry.start_date%></td>
        <td><%=@enquiry.end_date%></td>
        <td><%=@enquiry.remarks%></td>
      </tr>
  </tbody>
</table>
<br>
</div>

<div class="create-listing"> <%= link_to "Create Quotation", new_client_enquiry_listing_path(@client, @enquiry) %> </div> 

</body>
</html>





