<!DOCTYPE html>
<html>
  <head>
    <title> Curate your dream HR programs </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">  

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Karla|Montserrat" rel="stylesheet">

  </head>
  <body>

  <!-- Nav Bar -->
  <div class="x-navbar">
    <div class="x-navbar-left"> <a href="/">Home</a> </div>
    <div class="x-navbar-left"> <a href="#aboutus">About Us</a> </div>
    <div class="x-navbar-left"> <a href="#aboutus">Contact Us</a> </div>
    
    <div class="x-dropdown">
      <button class="x-dropbtn">Programme
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="x-dropdown-content">
        <% if current_client %> 
          <a href=><%= link_to "Make an Enquiry", new_client_enquiry_path(current_client.id) %></a>        
          <a href="/enquiries/history">Your history</a>
        <% end %> 
        <% if current_client.admin? %> 
          <a href=><%= link_to "All Enquiries", client_enquiries_path(current_client.id) %></a>
        <% end %> 
      </div>
    </div> 
     
    <div class="x-navbar-right"><a href="/get_started">Get Started</a> </div>

    <div class="x-dropdown-right">
      <button class="x-dropbtn"> 
        <i class="far fa-smile-beam" style="font-size:30px;"></i>
      </button>
        <div class="x-dropdown-content-right">
        <% if current_trainer %>
          <%= link_to "Sign Out", sign_out_trainer_path, method: :delete %> 
        <% else %> 
          <%= link_to "Sign Out", sign_out_path, method: :delete %> 
        <% end %> 
          <a href="/sign_in_trainer">Login as Trainer</a>
          <a href="/sign_in">Login as Client </a>
      </div>
    </div> 
</div>
  <!-- End of Nav Bar -->

  <%= yield %>

  <!-- Footer container -->

  <footer id="y-footer">

    <div class="y-footer-container">

        <div class="y-widget">
          <h3>HR Program Curators .</h3>
          <p> We aim to provide you with the finest training courses in Malaysia </p>
          <p><a href="#">Learn More</a></p>
        </div>

        <div class="y-foot-links">
          <ul class="y-footer-links">
            <li><a href="#">Payment Terms </a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Testimonials</a></li>
          </ul>
        </div>

        <div class="y-foot-links">
          <ul class="y-footer-links">
            <li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>

    </div>

      <div class="y-row copyright">
          <p>
            <small class="y-block">&copy; 2018 HR Program Curators Pitch. All Rights Reserved.</small> 
          </p>
          <p>
            <ul class="y-social-icons">
              <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </p>
      </div>
  </footer>

  </body>
</html>