<h2><%= @static_listing.title %></h2>
<%= @static_listing.image %>
<div class = "allsummary">
<p class = "description"><%= @static_listing.description.html_safe %></p>
<h4>Duration of workshop: <%= @static_listing.duration %></h4>
<h4>Venue: <%= @static_listing.venue %></h4>
<h4>Budget: <%= @static_listing.budget %></h4>
<h4>Pax: <%= @static_listing.pax %></h4>
<h4>Requirement: <%= @static_listing.requirement %></h4>
<h4>Audience: <%= @static_listing.audience %></h4>
</div>