<h2><%= @static_listing.venue %></h2>

<h4>Description of workshop: <%= @static_listing.description %><br></h4>
<h4>Duration of workshop: <%= @static_listing.duration %><br></h4>
<h4>Venue: <%= @static_listing.venue %></h4>
<h4>Budget: <%= @static_listing.budget %></h4>
<h4>Pax: <%= @static_listing.pax %></h4>
<h4>Requirement: <%= @static_listing.requirement %></h4>
<h4>Audience: <%= @static_listing.audience %></h4>

